/* ==========================================================================
   Note
   ========================================================================== */

/**
 * Font
 * Jenis Font: Nunito Sans dan Rubik
 * Heading: Nunito Sans
 * Body: Rubik
 *
 * Warna
 * Title: #151515
 * Body: #999999
 *
 * Footer
 * Background: #151515
 * Color: #FFF;
 *
 * Button
 * Standart: #4829B2
 * Hover: #3b2293
 *
 * Menu
 * Standart: rgba(0, 0, 0, 0.5)
 * Hover: rgba(0, 0, 0, 0.7)
 *
 * Struktur
 * Navbar
 * Jumbotron
 * Main Content
 * 	Card
 * Card
 *
 * Resource
 * https://webuildthemes.com/go/
 */

/* ==========================================================================
   End of Note
   ========================================================================== */

/* ==========================================================================
   Font
   ========================================================================== */
   
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700&display=swap");

/* ==========================================================================
   Enf of Font
   ========================================================================== */

/* ==========================================================================
   Component
   ========================================================================== */

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Rubik', sans-serif;
	color: #999999;
	font-weight: 400;
	font-size: 1rem;
}

h1, h2, h3, h5 {
	font-family: 'Nunito Sans', sans-serif;
	color: #151515;
	font-weight: 400;
}

a {
	color: #4829B2;
	text-decoration: none;
}

a:hover {
	color: #3b2293;
	text-decoration: none;
}

.btn, .btn-primary.disabled {
	background-color: #4829B2;
	border-color: #4829B2;
	color: white;
}

.btn:hover {
	background-color: #3b2293;
	border-color: #3b2293;
}

.fas, .far {
	margin-right: 0.5em;
	color: #4829B2;
}

.fa-map-marker-alt {
	margin-right: 0.6em;
	color: #4829B2;
}

/* ==========================================================================
   End of Component
   ========================================================================== */

/* ==========================================================================
   Navbar
   ========================================================================== */

.navbar {
	background-color: #FFF;
	padding: 1em;
}

.navbar .navbar-brand {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 24px;
	color: #151515;
	font-weight: bold;
	letter-spacing: -0.02em;
}

.navbar .navbar-brand:hover {
	color: #151515;
}

.navbar-nav .nav-item .nav-link {
	color: rgba(0, 0, 0, 0.5);
	font-weight: 400;
}

.navbar-nav .nav-item .nav-link:hover {
	color: rgba(0, 0, 0, 0.7);
}

/* ==========================================================================
   End of Navbar
   ========================================================================== */

/* ==========================================================================
   Jumbotron
   ========================================================================== */

.jumbotron {
	background-color: #fff;
}

.jumbotron h1 {	
	margin-bottom: 0.5em;
	font-size: 3.75rem;
	font-weight: 400;
}

.jumbotron p {
	line-height: 2;
	margin-bottom: 2em;
	font-weight: 400;
}

/* ==========================================================================
   End of Jumbotron
   ========================================================================== */

/* ==========================================================================
   Content
   ========================================================================== */

.content {
	padding: 4em 0;
	background-color: #F5F5F5;
}
.content h2 {
	padding-bottom: 1em;
	font-size: 2.5rem;
}

.content .see-all {
	font-weight: bold;
	text-decoration: none;
	font-size: 20px;
	color: #4829B2;
}

.content .see-all:hover {
	color: #3b2293;
}

/* ==========================================================================
   End of Content
   ========================================================================== */

/* ==========================================================================
   Card
   ========================================================================== */

.card {
	border: 0 none;
	box-shadow: 0 1px 5px #dcdcdc;
	transition: opacity 0.4s;
}

.card:hover {
	opacity: 0.8;
}

.card .card-body .card-title {
	font-weight: 400;
	margin-bottom: 0.5em;
}

.card .card-body .card-text {
	margin-bottom: 0.5em;
}

/* ==========================================================================
   End of Card
   ========================================================================== */

/* ==========================================================================
   Footer
   ========================================================================== */

footer {
	background-color: #151515;
	padding: 2em 0;
}

footer .container {
	padding: 0;
}

footer .nav .nav-item .nav-link {
	transition: 0.3s;
	color: rgba(255, 255, 255, 0.5);
}

footer .nav .nav-item .nav-link:hover {
	color: #fff;
}

/* ==========================================================================
   End of Footer
   ========================================================================== */

/* ==========================================================================
   Detail
   ========================================================================== */

.detail {
	margin-top: 2em;
}

.detail .head {
	margin-bottom: 5em;
}

.detail .head img {
	width: 600px;
	height: 337px;
	object-fit: cover;
}

.detail h1 {
	font-weight: 400;
	margin-bottom: 0.5em;
}

.detail .head p {
	margin-bottom: 0.3em;
	font-size: 1.2em;
}

.detail .head a {
	text-transform: uppercase;
	margin-top: 1.5em;
}

.detail .body {
	background: #F5F5F5;
}

.detail .body h3 {
	font-weight: 400;
	margin: 2em 0 1em 0;
}

.detail .body p {
	font-size: 1.2em;
	margin-bottom: 3em;
	text-align: justify;
}

/* ==========================================================================
   End of Detail
   ========================================================================== */

/* ==========================================================================
   Login and Register
   ========================================================================== */

/* Card
   ========================================================================== */

.login .card:hover, .register .card:hover {
	opacity: 1;
}

.login .card .card-body .card-title, .register .card .card-body .card-title {
	font-weight: 300;
}

/* End of Card
   ========================================================================== */

/* ==========================================================================
   End of Login and Register
   ========================================================================== */